:root {
    --bg: rgb(212, 223, 223);
    --grid-thin: rgba(73, 72, 72, 0.175);
    --grid-bold: rgb(177, 175, 175);
    --text: #e1e2e6;
}

.hero.dark {
    --bg: #0f172a;
    --grid-thin: rgba(255, 255, 255, 0.12);
    --grid-bold: rgba(255, 255, 255, 0.25);
    --text: #f8fafc;
  }
  
  

body {
    margin: 0;
    font-family: sans-serif;
    /* color: var(--text); */
}

.hero {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg);
    background-image:
        linear-gradient(to right, var(--grid-thin) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-thin) 1px, transparent 1px),
        linear-gradient(to right, var(--grid-bold) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-bold) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px, 200px 200px, 200px 200px;
}


h1 {
    font-size: 2.5rem;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}


.student {
    margin: 0;
    width: 700px;
    border-radius: 4%;
}



.student-container {
    padding-top: 30px;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    overflow: hidden;
}

.student-container::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    inset: 0;
    height: 100%;
    background-image: url('./bgmath.png');
    top: 50px;
    background-size: cover;
    /* أو contain حسب المطلوب */
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    /* يخلي الخلفية ورا */
    border-radius: 50% 50% 50% 50%;
}





/* .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

.divider-svg {
    display: block;
    /* مهم جدًا: يمنع الفراغ تحت الـ SVG */
    line-height: 0;
    /* يلغي أي ارتفاع سطر إضافي */
    margin: 0;
    padding: 0;
}