
.card-hover:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
}

.card-hover img{
    object-fit: contain;
  transition: transform 0.3s ease;
}
.card-hover:hover img{
    animation: rotateAnim 0.6s ease;
}


@keyframes rotateAnim {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(15deg) scale(1.1); }
  100% { transform: rotate(0deg) scale(1); }
}


.dark {
  --bgColor: rgb(2, 6, 23);
  --gtColor1: hsl(210, 32.39%, 27.84%);
  --gtColor2: hsl(195, 19.05%, 58.82%);
  --textColor: hsl(0, 0%, 96.08%);
  --textColor2: hsl(0, 83.87%, 63.53%);
}