.marquee {
    overflow: hidden;
    /* hide the scrolling overflow */
    width: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
  .section-title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;

  }
  .marquee__inner {
    display: flex;
    width: max-content;
    animation: marquee 6s linear infinite;
  }

  .marquee__group {
    display: flex;
  }

  .marquee__group .parent{
    margin: 0 1.5rem;
    white-space: nowrap;
    background:#008080;
    color: white;
    padding: 4px 16px 4px 12px;
    border-radius: 6px;
    font-size: 1.2rem;
  }
  .parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }

  }
